 <widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.lumberg.greeeaaat"
    version         = "1.0.0">
	
        <name>The new test App</name>
        <description>
            Learning phone gap can be fun
        </description>
        <author email="tiki@gmail.com" href="http://www.tikishabudin.com">
            Tiki Team
        </author>
        <content src="index.html" />
        <access origin="*" />
		
			<gap:splash src="potatoes.png" gap:platform="android" width="320" height="480" />
			<icon src="logo.png" />
  </widget>