 <widget id="com.example.hello" version="0.0.1">
        <name>The new test App</name>
        <description>
            Learning phone gap can be fun
        </description>
        <author email="tiki@gmail.com" href="http://www.tikishabudin.com">
            Tiki Team
        </author>
        <content src="index.html" />
        <access origin="*" />
		
		 <platform name="android">
			<splash src="images/potatoes.png"/>
			<icon src="images/logo.png" />
		 </platform>
    </widget>